<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/reset.css">
    <!-- ícones -->
    <link href="../static/fontawesome-free-6.4.2-web/css/all.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css"> -->
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/menu-lateral.css">
    <link rel="stylesheet" href="../static/styles/inicio-sobre.css">
    <link rel="stylesheet" href="../static/styles/timeline.css">
    <link rel="stylesheet" href="../static/styles/cursos.css">
    <link rel="stylesheet" href="../static/styles/habilidades.css">
    <link rel="stylesheet" href="../static/styles/portfolio.css">
    <link rel="stylesheet" href="../static/styles/contato.css">
    <title>Portfólio da Valquiria</title>
</head>
<body>
    <nav id="menu-lateral">
        <a href="#" class="link-curriculo">
            <header class="perfil">
                <div><img src="../static/img/ValquiriaAvatar.jpg" alt="avatar da Valquiria Pianheri Souza, uma mulher branca, cabelos escuros, liso e comprido na altura dos ombros, olhos escuros, vestindo uma camisa cinza-esverdeada e com fundo contendo estilizado com desenhos que remetem a um site" ></div>
                <div><h1>Valquiria Pianheri</h1></div>
            </header>
        </a>
        <hr>   
        <ul>
            <li>
                <a href="#inicio" class="navbar-item js-link actived"><div class="navbar-item__container"><h3 class="btn-tremura">Início</h3><i class="fa-solid fa-house fa-2xl"></i></div></a>
            </li>
            <li>
                <a href="#sobre" class="navbar-item js-link"><div class="navbar-item__container"><h3 class="btn-tremura">Sobre</h3><i class="fa-solid fa-address-card fa-2xl"></i></div></a>
            </li>
            <li>
                <a href="#trajetoria" class="navbar-item js-link"><div class="navbar-item__container"><h3 class="btn-tremura">Trejetória</h3><i class="fa-solid fa-timeline fa-rotate-90 fa-2xl"></i></div></a>
            </li>
            <li>
                <a href="#cursos" class="navbar-item js-link"><div class="navbar-item__container"><h3 class="btn-tremura">Cursos</h3><i class="fa-solid fa-user-graduate fa-2xl"></i></div></a>
            </li>
            <li>
                <a href="#habilidades" class="navbar-item js-link"><div class="navbar-item__container"><h3 class="btn-tremura">Habilidades</h3><i class="fa-solid fa-user-gear fa-2xl"></i></div></a>
            </li>
            <li>
                <a href="#projetos" class="navbar-item js-link"><div class="navbar-item__container"><h3 class="btn-tremura">Projetos</h3><i class="fa-solid fa-folder-open fa-2xl"></i></div></a>
            </li>
            <li>
                <a href="#contato" class="navbar-item js-link"><div class="navbar-item__container"><h3 class="btn-tremura">Contato</h3><i class="fa-solid fa-at fa-2xl"></i></div>
                </a>
            </li>
        </ul>
    </nav>
    <main>
        <section class="section" id="inicio">
            <div>
                <h1>Valquiria Pianheri</h1>
                <span>Programadora e professora</span>
            </div>
        </section>
        <section class="section" id="sobre">
            <div class="texto-imagem">
                <div>
                    <h2>Sobre mim:</h2><br>
                    <ul class="texto-imagem__texto">
                        <li><i class="fa-solid fa-code"></i> Sou desenvolvedora front-end, professora de Química/STEM e estudante de Tecnologia da Informação no último período da faculdade.</li><br>
                        <li><i class="fa-solid fa-code"></i> Gosto de resolver desafios. Já resolvi um desafio de programação da Sigma Geek nível 1, que consistia em encontrar um número, dentro dos algarismo do pi, com 9 dígitos que seja palíndromo e um número primo ao mesmo tempo.</li><br>
                        <li><i class="fa-solid fa-code"></i> Tenho doutorado em Bioquímica, e neste período trabalhei usando vários conceitos de bioinformática e análise de dados.</li><br>
                        <li><i class="fa-solid fa-code"></i> Em minha trajetória, desenvolvi diversas habilidades, como trabalhar em equipe, comunicação escrita e resolução de problemas.</li>
                    </ul>
                </div>
                <div>
                    <br>
                    <img class="texto-imagem__imagem" src="../static/img/foto-sobre.png" alt="Foto de Valquiria de costas usando um laptop com fundo branco, contendo alguns símbolos azuis sobrepostos indicando as linguagens Python, Java, JavaScript, CSS, HTML e o repositório GitHub">
                </div>
            </div>
        </section>
        <section class="section" id="trajetoria">
            <h2>Minha trajetória:</h2>
            <ul>
                <li class="item-timeline">
                    <div class="date">2011 - Formatura em Química pela USP</div>
                    <div class="descr">Conclui a graduação em Química pela USP (prêmio de melhor aluno do bacharelado). Ingressei no Doutorado Direto em Bioquímica (1ªcolocada).<br>
                    <img class="item-timeline__figura figura-medalha" src="../static/img/premio_melhorAluno.jpg" alt="foto da medalha de melhor aluno do curso de bacharelado em química da USP, de 2007/2011, com o nome 'Valquiria Pianheri Souza'"></div>
                </li>
                <li class="item-timeline">
                    <div class="date">2015/2016 - Divulgação internacional</div>
                    <div class="descr">Participei de congressos internacionais e publiquei <a href="https://scholar.google.com.br/citations?hl=pt-BR&user=b4NK_PYAAAAJ">artigos</a>.
                    <img class="item-timeline__figura" src="../static/img/grupoSandro.jpg" alt="imagem mostrando uma proteína modelada como uma rede, sendo que cada nó da rede é representado como bolas coloridas e as conexões como traços pretos"></div>
                </li>
                <li class="item-timeline">
                    <div class="date">2017 - Defesa de doutorado</div>
                    <div class="descr">Defendi a minha <a href="https://www.teses.usp.br/teses/disponiveis/46/46131/tde-27112017-103349/pt-br.php">tese de doutorado</a>. Encerrou um ciclo de muito aprendizado.</br>
                    <img class="item-timeline__figura" src="../static/img/defesa.jpg" alt="foto da defesa de doutorado, com a Valquiria ao centro. Além dela, os quatro membros da banca de defesa, sendo dois homens a direita de Valquiria e dois homens a esquerda."></div>
                </li>
                <li class="item-timeline">
                    <div class="date">2018 - Início da docência</div>
                    <div class="descr">Comecei a dar aulas no Instituto Federal de São Paulo / Suzano, e posteriormente em outras instituições.
                    <img class="item-timeline__figura" src="../static/img/ifsp suzano.jpg" alt="foto de uma turma de estudantes do Instituto Federal em uma sala de aula, contendo cerca de 30 alunos em pé, em frente a lousa da sala. Na foto a direita, apoiada em uma mesa, está a Valquiria e ao lado uma professora. Os alunos são jovens com 16 a 17 anos.">
                    </div>
                </li>
                <li class="item-timeline">
                    <div class="date">2019 - Novos horizontes</div>
                    <div class="descr">Neste período, trabalhei no cursinho Objetivo Guarulhos, e além de dar aulas participei da divulgação, gerando conteúdo e inserindo no site feito em WordPress com Elementor.
                    </div>
                </li>
                <li class="item-timeline">
                    <div class="date">2021/1sem - 1º curso de Programação</div>
                    <div class="descr">Fiz o curso de Introdução à programação em linguagem C, pelo IME-USP. Lá percebi que gostava muito de programar e comecei a estudar mais sobre a área.
                    </div>
                </li>
                <li class="item-timeline">
                    <div class="date">2021/2sem - Início da graduação em TI</div>
                    <div class="descr">Comecei o meu curso de graduação de Bacharelado em Tecnologia da Informação pela UNIVESP.
                    <img class="item-timeline__figura" src="../static/img/turmaUnivesp.jpeg" alt="foto em uma mesa de uma praça de alimentação, cheia de pessoas. Sentados a mesa estão cinco pessoas da faculdade de BTI da UNIVESP, entre elas está a Valquiria.">
                    </div>
                </li>
                <li class="item-timeline">
                    <div class="date">Hoje - Desenvolvedora e estudante</div>
                    <div class="descr">Atualmente, desenvolvo alguns pequenos projetos, faço cursos e estou finalizando a minha graduação. Além disso, continuo atuando como professora, de química e de STEM.
                    </div>
                </li>
            </ul>
        </section>
        <section class="section" id="cursos">
            <h2>Formação e cursos:</h2>
            <div class="colunas duas-colunas">
                <div class="coluna-item coluna">
                    <div class="borda-colorida">
                        <div class="cursos__item cursos__formacao">
                            <div class="colunas alinhados">
                                <h3>BACHARELADO EM TECNOLOGIA DA INFORMAÇÃO </h3>
                                <i id="simbolo-mais" class="fa-solid fa-plus fa-2xl cursos__item__visivel"></i>
                            </div>
                            <h4>INSTITUIÇÃO: UNIVESP</h4>
                            <h4>PERÍODO: Ago/2021 - Atual (previsão: jul/2024)</h4>
                            <p class="cursos__item__oculto">Aprendi diversos conceitos e bases da computação. Foi importante para conhecer diversas áreas e desenvolver projetos com clientes reais.</p>
                        </div>
                    </div>
                    <div class="borda-colorida">
                        <div class="cursos__item cursos__formacao">
                            <div class="colunas alinhados">
                                <h3>DOUTORADO EM CIÊNCIAS (BIOQUÍMICA) </h3>
                                <i id="simbolo-mais" class="fa-solid fa-plus fa-2xl"></i>
                                <i id="simbolo-menos" class="fa-solid fa-minus fa-2xl cursos__item__oculto"></i>
                            </div>
                            <h4>INSTITUIÇÃO: IQ-USP</h4>
                            <h4>PERÍODO: Ago/2011 - Set/2017</h4>
                            <p class="cursos__item__oculto">No doutorado, aprendi diversas "softskills", como comunicação, trabalho em equipe e ter visão crítica. Trabalhei também com análise de dados, modelagem e bioinformática.</p>
                        </div>
                    </div>
                    <div class="borda-colorida">
                        <div class="cursos__item cursos__formacao">
                            <div class="colunas alinhados">
                                <h3>BACHARELADO EM QUÍMICA</h3>
                                <i id="simbolo-mais" class="fa-solid fa-plus fa-2xl"></i>
                                <i id="simbolo-menos" class="fa-solid fa-minus fa-2xl cursos__item__oculto"></i>
                            </div>
                            <h4>INSTITUIÇÃO: IQ-USP</h4>
                            <h4>PERÍODO: Fev/2007 - Jul/2011</h4>
                            <p class="cursos__item__oculto">Minha primeira graduação, onde aprendi muito não só sobre química, mas sobre estudos, projeto de vida e carreira.</p>
                        </div>
                    </div>
                </div>
                <div class="coluna-item coluna-direita coluna">
                    <div class="borda-colorida">
                        <div class="cursos__item">
                            <div class="colunas alinhados">
                                <h3>Curso: FORMAÇÃO FRONT-END</h3>
                                <i id="simbolo-mais" class="fa-solid fa-plus fa-2xl"></i>
                                <i id="simbolo-menos" class="fa-solid fa-minus fa-2xl cursos__item__oculto"></i>
                            </div>
                            <h4>Instituição: ALURA</h4>
                            <h4>Carga-horária: xxx HORAS</h4>
                            <p class="cursos__item__oculto">Nesta formação, aprendi sobre HTML, CSS e JavaScript.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section" id="habilidades">
            <h2>Competências e habilidades</h2>
            <!-- <p class="habilidades__texto">Principais habilidades que adquiri em minha trajetória, de acordo com a porcentagem que acredito ter.</p> -->
            <div class="colunas duas-colunas">
                <div class="coluna">
                    <h3>Habilidades Técnicas</h3>
                    <div class="habilidades__item">
                        <p class="habilidades__item__tag"><i class="fa-brands fa-html5 fa-xl"></i>HTML</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p class="habilidades__item__tag"><i class="fa-brands fa-css3-alt fa-xl"></i>CSS</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p class="habilidades__item__tag"><i class="fa-brands fa-square-js fa-xl"></i>JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                    </div>
                    <!-- <div class="habilidades__item">
                        <p class="habilidades__item__tag"><i class="icone-brands fa-regular fa-circle-user fa-xl"></i>UX</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div> -->
                    <div class="habilidades__item">
                        <p class="habilidades__item__tag"><i class="fa-brands fa-python fa-xl"></i>Python</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p class="habilidades__item__tag"><i class="fa-brands fa-java fa-xl"></i>Java</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p class="habilidades__item__tag"><i class="icone-brands fa-solid fa-database fa-xl"></i>SQL</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </div>
                <div class="coluna coluna-direita">
                    <h3>Soft-Skills</h3>
                    <!-- <div class="habilidades__item">
                        <p class="habilidades__item__tag"><i class="icone-brands fa-solid fa-person-chalkboard fa-xl"></i>Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                    </div> -->
                    <div class="habilidades__item">
                        <p class="habilidades__item__tag"><i class="icone-brands fa-solid fa-people-group fa-xl"></i>Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p class="habilidades__item__tag"><i class="icone-brands fa-solid fa-handshake-angle fa-xl"></i>Empatia</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p class="habilidades__item__tag"><i class="icone-brands fa-solid fa-chart-line fa-xl"></i>Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p class="habilidades__item__tag"><i class="icone-brands fa-solid fa-person-rays fa-xl"></i>Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p class="habilidades__item__tag"><i class="icone-brands fa-regular fa-eye fa-xl"></i>Atenção a detalhes</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p class="habilidades__item__tag"><i class="icone-brands fa-regular fa-file-lines fa-xl"></i>Escrita de textos/documentação</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>

<!--O item projetos está com uma pequena margem a direita branca , talvez 1px, corrigir-->

        <!-- <section id="projetos">
            <h2>Projetos</h2>
            <div class="projetos-caixa">
                <div class="carrossel">
                    <input type="radio" name="slides" checked="checked" id="slide-1">
                    <input type="radio" name="slides" id="slide-2">
                    <input type="radio" name="slides" id="slide-3">
                    <input type="radio" name="slides" id="slide-4">
                    <input type="radio" name="slides" id="slide-5">
                    <ul class="carrossel__slides">
                        <li class="carrossel-slides__item">
                            <figure>
                                <div>
                                    <img src="../static/img/site-feadev.jpg" alt="">
                                </div>
                                <figcaption>
                                    Projeto construído para o grupo de estudos FEA.dev, de alunos da FEA-USP. Neste projeto, eu e alguns amigos desenvolvemos um website para a entidade estudantil.
                                </figcaption>
                            </figure>
                        </li>
                        <li class="carrossel-slides__item">
                            <figure>
                                <div>
                                    <img src="https://picsum.photos/id/1043/800/450" alt="">
                                </div>
                                <figcaption>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.                            
                                </figcaption>
                            </figure>
                        </li>
                        <li class="carrossel-slides__item">
                            <figure>
                                <div>
                                    <img src="https://picsum.photos/id/1044/800/450" alt="">
                                </div>
                                <figcaption>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    <span class="credit">Photo: Steve Carter</span>                            
                                </figcaption>
                            </figure>
                        </li>
                        <li class="carrossel-slides__item">
                            <figure>
                                <div>
                                    <img src="https://picsum.photos/id/1045/800/450" alt="">
                                </div>
                                <figcaption>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    <span class="credit">Photo: Aleksandra Boguslawska</span>                            
                                </figcaption>
                            </figure>
                        </li>
                        <li class="carrossel-slides__item">
                            <figure>
                                <div>
                                    <img src="https://picsum.photos/id/1049/800/450" alt="">
                                </div>
                                <figcaption>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    <span class="credit">Photo: Rosan Harmens</span>                            
                                </figcaption>
                            </figure>
                        </li>
                    </ul>    
                    <ul class="carousel__thumbnails">
                        <li>
                            <label for="slide-1"><img src="../static/img/site-feadev-miniatura.jpg" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-2"><img src="https://picsum.photos/id/1043/150/150" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-3"><img src="https://picsum.photos/id/1044/150/150" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-4"><img src="https://picsum.photos/id/1045/150/150" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-5"><img src="https://picsum.photos/id/1049/150/150" alt=""></label>
                        </li>
                    </ul>
                </div>
            </div>
        </section> -->

<!-- O footer está com uma margem branca direita... corrigir -->

        <!-- <footer id="contato">
            <hr>
            <div class="duas-colunas justificado">
                <div>
                    <h4>Contato:</h4>
                </div>
                <div>
                    <p><i class="bi bi-envelope-at"></i>E-MAIL: valq_ps@outlook.com</p>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/valquiria-pianheri/">
                        <i class="bi bi-linkedin icone-rodape"></i>
                    </a>
                    <a href="https://www.facebook.com/valquiria.p.souza">
                        <i class="bi bi-facebook icone-rodape"></i>
                    </a>
                    <a href="#"><i class="bi bi-discord icone-rodape"></i></a>
                </div>
            </div>
        </footer> -->
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/script.js"></script>
    <script src="../static/oculta-texto.js"></script>

</body>
</html>
