<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/reset.css">
    <!-- ícones -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/menu-lateral.css">
    <link rel="stylesheet" href="../static/styles/timeline.css">
    <title>Portfólio da Valquiria</title>
</head>
<body>
    <aside>
        <header class="perfil">
            <img src="../static/img/Foto_Valquiria.jpeg" alt="foto de Valquiria Pianheri Souza, uma mulher branca, com cerca de 30 anos, cabelos escuros, liso e comprido, olhos escuros, vestindo uma camisa rosa clara">
            <h1>Valquiria Pianheri</h1>
            <ul class="perfil__redes-sociais">
                <li><a href="https://www.linkedin.com/in/valquiria-pianheri/">
                    <i class="bi bi-linkedin icone"></i>
                </a></li>
                <li><a href="https://github.com/Valqps">
                    <i class="bi bi-github icone"></i>
                </a></li>
                <li><a href="http://lattes.cnpq.br/8938195059657548">
                    <i class="ai ai-lattes-square ai icone"></i>
                </a></li>
                <li><a href="https://www.facebook.com/valquiria.p.souza">
                    <i class="bi bi-facebook icone"></i>
                </a></li>
            </div>
        </header>
        <hr>
        <nav>
            <ul class="menu">
                <li>
                    <a href="#inicio" class="menu__item"><h3 class="ativo"><i class="bi bi-house"></i>Início</h3></a>
                </li>
                <li>
                    <a href="#sobre" class="menu__item"><h3><i class="bi bi-person"></i>Sobre</h3></a>
                </li>
                <li>
                    <a href="#trajetoria" class="menu__item"><h3><i class="bi bi-pin-map"></i>Trejetória</h3></a>
                </li>
                <li>
                    <a href="#cursos" class="menu__item"><h3><i class="bi bi-mortarboard"></i>Cursos</h3></a>
                </li>
                <li>
                    <a href="#habilidades" class="menu__item"><h3><i class="bi bi-card-list"></i>Habilidades</h3></a>
                </li>
                <li>
                    <a href="#contato" class="menu__item"><h3><i class="bi bi-envelope"></i>Contato</h3></a>
                </li>
            </ul>
        </nav>
    </aside>
    <main>
        <section id="inicio">
            <div>
                <h1>Valquiria Pianheri</h1>
                <span>Programadora e professora</span>
            </div>
        </section>
        <section id="sobre">
            <h2>Sobre mim:</h2>
            <div class="texto-imagem">
                <ul class="texto-imagem__texto">
                    <li>Sou desenvolvedora front-end, professora de Química/STEM e estudante de Tecnologia da Informação no último período da faculdade. </li><br>
                    <li>Gosto de resolver desafios, onde já consegui resolver um desafio de programação da Sigma Geek nível 1.</li><br>
                    <li>Tenho doutorado em Bioquímica, e neste período trabalhei usando vários conceitos de bioinformática e análise de dados.</li><br>
                    <li>Em minha trajetória, desenvolvi diversas habilidades, como trabalhar em equipe e comunicação. </li>
                </ul>
                <div>
                    <img src="../static/img/tetris-cubo.gif" alt="Imagem animada de um mini-game com o jogo tetris" width="500px" height="auto">
                </div>
            </div>
        </section>
        <section id="trajetoria">
            <h2>Minha trajetória:</h2>
            <ul>
                <li class="item-timeline">
                    <div class="date">2011 - Formatura em Química pela USP</div>
                    <div class="descr">Conclui a graduação em Química pela USP, com prêmio de melhor aluno do bacharelado. Entrei no programa de Doutorado Direto em Bioquímica (1ªcolocada).
                    <img class="item-timeline__figura" src="../static/img/premio_melhorAluno.jpg" alt="foto da medalha de melhor aluno do curso de bacharelado em química da USP, de 2007/2011, com o nome 'Valquiria Pianheri Souza'">
                    </div>
                </li>
                <li class="item-timeline">
                    <div class="date">2015/2016 - Divulgação internacional</div>
                    <div class="descr">Participei de congressos internacionais e publiquei <a href="https://scholar.google.com.br/citations?hl=pt-BR&user=b4NK_PYAAAAJ">artigos</a> sobre a minha pesquisa.
                    <img class="item-timeline__figura" src="../static/img/network.jpg" alt="imagem mostrando uma proteína modelada como uma rede, sendo que cada nó da rede é representado como bolas coloridas e as conexões como traços pretos"></div>
                </li>
                <li class="item-timeline">
                    <div class="date">2017/1sem - Casamento</div>
                    <div class="descr">Casei um pouco antes de defender a tese. Foi um momento muito especial! Iniciou uma nova fase de vida, de muito apoio e cumplicidade.
                    <img class="item-timeline__figura" src="../static/img/casamento.jpg" alt="foto da Valquiria e seu marido, Armando. A foto foi tirada na praia. Valquiria está vestida com um vestido branco rendado e cabelos soltos levemente ondulados. Armando está vestido com uma camisa branca de manga curta e tecido leve"></div>
                </li>
                <li class="item-timeline">
                    <div class="date">2017/2sem - Defesa de doutorado</div>
                    <div class="descr">Defendi a minha <a href="https://www.teses.usp.br/teses/disponiveis/46/46131/tde-27112017-103349/pt-br.php">tese de doutorado</a>. Foi um momento único, que encerrou um ciclo de muito aprendizado.
                    <img class="item-timeline__figura" src="../static/img/defesa.jpg" alt="foto da defesa de doutorado, com a Valquiria ao centro. Além dela, os quatro membros da banca de defesa, sendo dois homens a direita de Valquiria e dois homens a esquerda."></div>
                </li>
                <li class="item-timeline">
                    <div class="date">2018 - Início da docência</div>
                    <div class="descr">Comecei a dar aulas no Instituto Federal de São Paulo, e posteriormente em outras instituições.
                    <img class="item-timeline__figura" src="../static/img/ifsp suzano.jpg" alt="foto de uma turma de estudantes do Instituto Federal em uma sala de aula, contendo cerca de 30 alunos em pé, em frente a lousa da sala. Na foto a direita, apoiada em uma mesa, está a Valquiria e ao lado uma professora. Os alunos são jovens com 16 a 17 anos.">
                    </div>
                </li>
                <li class="item-timeline">
                    <div class="date">2019 - Novos horizontes</div>
                    <div class="descr">Neste período, trabalhei no cursinho Objetivo Guarulhos, e além de dar aulas participei da divulgação, gerando conteúdo e inserindo no site feito em WordPress com Elementor.
                    <img class="item-timeline__figura" src="../static/img/elementor-wordpress-sidebar.png" alt="figura mostrando a tela de administrador do WordPress.">
                    </div>
                </li>
                <li class="item-timeline">
                    <div class="date">2021/1sem - 1º curso de Programação</div>
                    <div class="descr">Fiz o curso de Introdução à programação em linguagem C, pelo IME-USP. Lá percebi que gostava muito de programar e comecei a estudar mais sobre a área.
                    <img class="item-timeline__figura" src="../static/img/linguagemC.jpg" alt="figura com uma tela de fundo branco contendo código em linguagem C">
                    </div>
                </li>
                <li class="item-timeline">
                    <div class="date">2021/2sem - Início da graduação em TI</div>
                    <div class="descr">Comecei o meu curso de graduação de Bacharelado em Tecnologia da Informação pela UNIVESP, para aprender as bases da computação.
                    <img class="item-timeline__figura" src="../static/img/turmaUnivesp.jpeg" alt="foto em uma mesa de uma praça de alimentação, cheia de pessoas. Sentados a mesa estão cinco pessoas da faculdade de BTI da UNIVESP, entre elas está a Valquiria.">
                    </div>
                </li>
                <li class="item-timeline">
                    <div class="date">Hoje - Desenvolvedora e estudante</div>
                    <div class="descr">Atualmente, desenvolvo alguns pequenos projetos, faço cursos e estou finalizando a minha graduação. Além disso, continuo atuando como professora, de química e de STEM.
                    <img class="item-timeline__figura" src="../static/img/siteFeaDev.jpg" alt="figura mostrando duas telas de um site, ambas com fundo preto e letras amarelas escrito FEA.dev">
                    </div>
                </li>
            </ul>
        </section>
        <section id="cursos">
            <h2>Formação e cursos:</h2>
        </section>
        <section id="habilidades">
            <h2>Competências e habilidades</h2>
        </section>
        <section id="contato">
            <h2>Meu contato:</h2>
        </section>
    </main>
    <script src="../static/script.js"></script>
</body>
</html>
