<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/reset.css">
    <!-- ícones -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/menu-lateral.css">
    <link rel="stylesheet" href="../static/styles/inicio-sobre.css">
    <link rel="stylesheet" href="../static/styles/timeline.css">
    <link rel="stylesheet" href="../static/styles/cursos.css">
    <link rel="stylesheet" href="../static/styles/habilidades.css">
    <link rel="stylesheet" href="../static/styles/portfolio.css">
    <link rel="stylesheet" href="../static/styles/contato.css">
    <title>Portfólio da Valquiria</title>
</head>
<body>
    <aside id="menu-lateral">
        <header class="perfil menu-detalhado-oculto">
            <div><img src="../static/img/ValquiriaAvatar.jpg" alt="foto de Valquiria Pianheri Souza, uma mulher branca, com cerca de 30 anos, cabelos escuros, liso e comprido, olhos escuros, vestindo uma camisa rosa clara" ></div>
            <div><h1 class="menu-detalhado-oculto">Valquiria Pianheri</h1></div>
        </header>
        <hr>
        <nav>
            <ul class="menu" id="menu-lateral">
                <li>
                    <a href="#inicio" class="menu__item"><div class="menu__item-texto"><h3 class="menu-detalhado-oculto">Início</h3><i class="bi bi-house"></i></div></a>
                </li>
                <li>
                    <a href="#sobre" class="menu__item"><div class="menu__item-texto"><h3 class="menu-detalhado-oculto">Sobre</h3><i class="bi bi-person"></i></div></a>
                </li>
                <li>
                    <a href="#trajetoria" class="menu__item"><div class="menu__item-texto"><h3 class="menu-detalhado-oculto">Trejetória</h3><i class="bi bi-pin-map"></i></div></a>
                </li>
                <li>
                    <a href="#cursos" class="menu__item"><div class="menu__item-texto"><h3 class="menu-detalhado-oculto">Cursos</h3><i class="bi bi-mortarboard"></i></div></a>
                </li>
                <li>
                    <a href="#habilidades" class="menu__item"><div class="menu__item-texto"><h3 class="menu-detalhado-oculto">Habilidades</h3><i class="bi bi-card-list"></i></div></a>
                </li>
                <li>
                    <a href="#projetos" class="menu__item"><div class="menu__item-texto"><h3 class="menu-detalhado-oculto">Projetos</h3><i class="bi bi-card-list"></i></div></a>
                </li>
            </ul>
        </nav>
    </aside>
    <main>
        <section id="inicio">
            <div>
                <h1>Valquiria Pianheri</h1>
                <span>Programadora e professora</span>
            </div>
        </section>
        <section id="sobre">
            <div class="texto-imagem">
                <div>
                    <h2>Sobre mim:</h2><br>
                    <ul class="texto-imagem__texto">
                        <li><i class="bi bi-code icone-sobre"></i>Sou desenvolvedora front-end, professora de Química/STEM e estudante de Tecnologia da Informação no último período da faculdade.<i class="bi bi-code-slash icone-sobre"></i></li><br>
                        <li><i class="bi bi-code icone-sobre"></i>Gosto de resolver desafios, onde já consegui resolver um desafio de programação da Sigma Geek nível 1.<i class="bi bi-code-slash icone-sobre"></i></li><br>
                        <li><i class="bi bi-code icone-sobre"></i>Tenho doutorado em Bioquímica, e neste período trabalhei usando vários conceitos de bioinformática e análise de dados.<i class="bi bi-code-slash icone-sobre"></i></li><br>
                        <li><i class="bi bi-code icone-sobre"></i>Em minha trajetória, desenvolvi diversas habilidades, como trabalhar em equipe e comunicação.<i class="bi bi-code-slash icone-sobre"></i></li>
                    </ul>
                </div>
                <div>
                    <br><br><br><br>
                    <img class="texto-imagem__imagem" src="../static/img/foto-sobre.png" alt="Foto de Valquiria de costas usando um laptop com fundo branco, contendo alguns símbolos azuis sobrepostos indicando as linguagens Python, Java, JavaScript, CSS, HTML e o repositório GitHub">
                </div>
            </div>
        </section>
        <section id="trajetoria">
            <h2>Minha trajetória:</h2>
            <ul>
                <li class="item-timeline">
                    <div class="date">2011 - Formatura em Química pela USP</div>
                    <div class="descr">Conclui a graduação em Química pela USP (prêmio de melhor aluno do bacharelado). Ingressei no Doutorado Direto em Bioquímica (1ªcolocada).<br>
                    <img class="item-timeline__figura figura-medalha" src="../static/img/premio_melhorAluno.jpg" alt="foto da medalha de melhor aluno do curso de bacharelado em química da USP, de 2007/2011, com o nome 'Valquiria Pianheri Souza'"></div>
                </li>
                <li class="item-timeline">
                    <div class="date">2015/2016 - Divulgação internacional</div>
                    <div class="descr">Participei de congressos internacionais e publiquei <a href="https://scholar.google.com.br/citations?hl=pt-BR&user=b4NK_PYAAAAJ">artigos</a>.
                    <img class="item-timeline__figura" src="../static/img/grupoSandro.jpg" alt="imagem mostrando uma proteína modelada como uma rede, sendo que cada nó da rede é representado como bolas coloridas e as conexões como traços pretos"></div>
                </li>
                <li class="item-timeline">
                    <div class="date">2017/1sem - Casamento</div>
                    <div class="descr">Casei um pouco antes de defender a tese. Iniciou uma nova fase de vida, de muito apoio e cumplicidade.
                    <img class="item-timeline__figura" src="../static/img/casamento.jpg" alt="foto da Valquiria e seu marido, Armando. A foto foi tirada na praia. Valquiria está vestida com um vestido branco rendado e cabelos soltos levemente ondulados. Armando está vestido com uma camisa branca de manga curta e tecido leve"></div>
                </li>
                <li class="item-timeline">
                    <div class="date">2017/2sem - Defesa de doutorado</div>
                    <div class="descr">Defendi a minha <a href="https://www.teses.usp.br/teses/disponiveis/46/46131/tde-27112017-103349/pt-br.php">tese de doutorado</a>. Encerrou um ciclo de muito aprendizado.
                    <img class="item-timeline__figura" src="../static/img/defesa.jpg" alt="foto da defesa de doutorado, com a Valquiria ao centro. Além dela, os quatro membros da banca de defesa, sendo dois homens a direita de Valquiria e dois homens a esquerda."></div>
                </li>
                <li class="item-timeline">
                    <div class="date">2018 - Início da docência</div>
                    <div class="descr">Comecei a dar aulas no Instituto Federal de São Paulo / Suzano, e posteriormente em outras instituições.
                    <img class="item-timeline__figura" src="../static/img/ifsp suzano.jpg" alt="foto de uma turma de estudantes do Instituto Federal em uma sala de aula, contendo cerca de 30 alunos em pé, em frente a lousa da sala. Na foto a direita, apoiada em uma mesa, está a Valquiria e ao lado uma professora. Os alunos são jovens com 16 a 17 anos.">
                    </div>
                </li>
                <li class="item-timeline">
                    <div class="date">2019 - Novos horizontes</div>
                    <div class="descr">Neste período, trabalhei no cursinho Objetivo Guarulhos, e além de dar aulas participei da divulgação, gerando conteúdo e inserindo no site feito em WordPress com Elementor.
                    </div>
                </li>
                <li class="item-timeline">
                    <div class="date">2021/1sem - 1º curso de Programação</div>
                    <div class="descr">Fiz o curso de Introdução à programação em linguagem C, pelo IME-USP. Lá percebi que gostava muito de programar e comecei a estudar mais sobre a área.
                    </div>
                </li>
                <li class="item-timeline">
                    <div class="date">2021/2sem - Início da graduação em TI</div>
                    <div class="descr">Comecei o meu curso de graduação de Bacharelado em Tecnologia da Informação pela UNIVESP.
                    <img class="item-timeline__figura" src="../static/img/turmaUnivesp.jpeg" alt="foto em uma mesa de uma praça de alimentação, cheia de pessoas. Sentados a mesa estão cinco pessoas da faculdade de BTI da UNIVESP, entre elas está a Valquiria.">
                    </div>
                </li>
                <li class="item-timeline">
                    <div class="date">Hoje - Desenvolvedora e estudante</div>
                    <div class="descr">Atualmente, desenvolvo alguns pequenos projetos, faço cursos e estou finalizando a minha graduação. Além disso, continuo atuando como professora, de química e de STEM.
                    </div>
                </li>
            </ul>
        </section>
        <section id="cursos">
            <h2>Formação e cursos:</h2>
            <div class="duas-colunas">
                <div class="coluna">
                    <div class="cursos__item cursos__formacao">
                        <p><strong>BACHARELADO EM TECNOLOGIA DA INFORMAÇÃO</strong></p>
                        <p>INSTITUIÇÃO: UNIVESP</p>
                        <p>PERÍODO: Ago/2021 - Atual (previsão: jul/2024)</p>
                        <p class="cursos__item__descricao">Curso muito importante em minha carreira de tecnologia. Nele comecei a compreender os principais conceitos e bases da computação. Aprendi diversas áreas e desenvolvi projetos com clientes reais.</p>
                    </div>
                    <div class="cursos__item cursos__formacao">
                        <p><strong>DOUTORADO EM CIÊNCIAS (BIOQUÍMICA)</strong></p>
                        <p>INSTITUIÇÃO: IQ-USP</p>
                        <p>PERÍODO: Ago/2011 - Set/2017</p>
                        <p class="cursos__item__descricao">No doutorado, aprendi diversas "softskills", como comunicação, trabalho em equipe e ter visão crítica. Trabalhei também com análise de dados, modelagem e bioinformática.</p>
                    </div>
                    <div class="cursos__item cursos__formacao">
                        <p><strong>BACHARELADO EM QUÍMICA</strong></p>
                        <p>INSTITUIÇÃO: IQ-USP</p>
                        <p>PERÍODO: Fev/2007 - Jul/2011</p>
                        <p class="cursos__item__descricao">Minha primeira graduação, onde aprendi muito não só sobre química, mas sobre estudos, projeto de vida e carreira.</p>
                    </div>
                </div>
                <div class="coluna coluna-direita">
                    <div class="cursos__item">
                        <p><strong>CURSO: </strong>FORMAÇÃO FRONT-END</p>
                        <p>ALURA - xxx horas</p>
                        <p class="cursos__item__descricao">Nesta formação, aprendi sobre HTML, CSS e JavaScript.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="habilidades">
            <h2>Competências e habilidades</h2>
            <p>Ao longo de minha trajetória, desenvolvi diversas competências e habilidades, técnicas e não técnicas. Listo abaixo as que considero principais, de acordo com a porcentagem de conhecimento que acredito ter em cada uma delas.</p>
            <div class="duas-colunas">
                <div class="coluna">
                    <h3>Habilidades Técnicas</h3>
                    <div class="habilidades__item">
                        <p>HTML</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p>CSS</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p>JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p>UX</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p>Python</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p>Java</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p>SQL</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                </div>
                <div class="coluna coluna-direita">
                    <div class="habilidades__item">
                        <h3>Soft-Skills</h3>
                        <p>Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p>Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p>Empatia</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p>Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p>Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p>Atenção a detalhes</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                    </div>
                    <div class="habilidades__item">
                        <p>Escrita de textos/documentação</p>
                        <div class="progress">
                            <div class="progress-bar barra" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!--O item projetos está com uma pequena margem a direita branca , talvez 1px, corrigir-->

        <!-- <section id="projetos">
            <h2>Projetos</h2>
            <div class="projetos-caixa">
                <div class="carrossel">
                    <input type="radio" name="slides" checked="checked" id="slide-1">
                    <input type="radio" name="slides" id="slide-2">
                    <input type="radio" name="slides" id="slide-3">
                    <input type="radio" name="slides" id="slide-4">
                    <input type="radio" name="slides" id="slide-5">
                    <ul class="carrossel__slides">
                        <li class="carrossel-slides__item">
                            <figure>
                                <div>
                                    <img src="../static/img/site-feadev.jpg" alt="">
                                </div>
                                <figcaption>
                                    Projeto construído para o grupo de estudos FEA.dev, de alunos da FEA-USP. Neste projeto, eu e alguns amigos desenvolvemos um website para a entidade estudantil.
                                </figcaption>
                            </figure>
                        </li>
                        <li class="carrossel-slides__item">
                            <figure>
                                <div>
                                    <img src="https://picsum.photos/id/1043/800/450" alt="">
                                </div>
                                <figcaption>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.                            
                                </figcaption>
                            </figure>
                        </li>
                        <li class="carrossel-slides__item">
                            <figure>
                                <div>
                                    <img src="https://picsum.photos/id/1044/800/450" alt="">
                                </div>
                                <figcaption>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    <span class="credit">Photo: Steve Carter</span>                            
                                </figcaption>
                            </figure>
                        </li>
                        <li class="carrossel-slides__item">
                            <figure>
                                <div>
                                    <img src="https://picsum.photos/id/1045/800/450" alt="">
                                </div>
                                <figcaption>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    <span class="credit">Photo: Aleksandra Boguslawska</span>                            
                                </figcaption>
                            </figure>
                        </li>
                        <li class="carrossel-slides__item">
                            <figure>
                                <div>
                                    <img src="https://picsum.photos/id/1049/800/450" alt="">
                                </div>
                                <figcaption>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    <span class="credit">Photo: Rosan Harmens</span>                            
                                </figcaption>
                            </figure>
                        </li>
                    </ul>    
                    <ul class="carousel__thumbnails">
                        <li>
                            <label for="slide-1"><img src="../static/img/site-feadev-miniatura.jpg" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-2"><img src="https://picsum.photos/id/1043/150/150" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-3"><img src="https://picsum.photos/id/1044/150/150" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-4"><img src="https://picsum.photos/id/1045/150/150" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-5"><img src="https://picsum.photos/id/1049/150/150" alt=""></label>
                        </li>
                    </ul>
                </div>
            </div>
        </section> -->

<!-- O footer está com uma margem branca direita... corrigir -->

        <!-- <footer id="contato">
            <hr>
            <div class="duas-colunas justificado">
                <div>
                    <h4>Contato:</h4>
                </div>
                <div>
                    <p><i class="bi bi-envelope-at"></i>E-MAIL: valq_ps@outlook.com</p>
                </div>
                <div>
                    <a href="https://www.linkedin.com/in/valquiria-pianheri/">
                        <i class="bi bi-linkedin icone-rodape"></i>
                    </a>
                    <a href="https://www.facebook.com/valquiria.p.souza">
                        <i class="bi bi-facebook icone-rodape"></i>
                    </a>
                    <a href="#"><i class="bi bi-discord icone-rodape"></i></a>
                </div>
            </div>
        </footer> -->
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/script.js"></script>

</body>
</html>
