.duas-colunas {
    display: flex;
}

.cursos__item {
    line-height: normal;
    font-size: 1.5em;
    padding: 10px;
    /* border: 2px solid var(--cor-escura); */
    border-radius: 10px;
    margin: 10px 0;
}

.cursos__item p {
    margin: 5px;
}

.cursos__item__descricao {
    font-size: 0.9em;
}

/* .cursos__formacao {
    background-color: var(--cor-verde-transparente);
} */
