#habilidades {
    background-color: var(--cor-verde-transparente);
}

#habilidades p {
    font-size: 1.3em;
    line-height: normal;
    margin: 0;
}

.barra {
    background-color: var(--cor-escura);
    font-size: 1.3em;
}

.habilidades__item {
    margin: 23px 0;
}
