aside h1 {
    font-size: 2em;
    margin: 20px 0;
    text-align: center;
}

aside {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    /* padding: 20px; */
    background-color: var(--cor-rosa);
    border: 1px solid var(--cor-escura);
    overflow-y: auto;
    width: 80px;
    transition: all ease-in-out 0.5s;
    padding: 0 15px;
    z-index: 9997;
}

aside .perfil img{
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 3px solid var(--cor-escura);
    border-radius: 5%;
    box-shadow: 2px 0px 5px var(--cor-sombra-escura);
}

.perfil__redes-sociais {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfil__redes-sociais a {
    color: var(--cor-escura);
    height: 40px;
    border: 2px solid transparent;
}

.perfil__redes-sociais a :hover{
    /* border: 0.5px solid var(--cor-sombra-escura);
    box-shadow: var(--sombra); */
    color: var(--cor-clara);
}

.bi {
    font-size: 23px;
    padding: 4px 10px;
    border-radius: 5px;
}

.ai {
    font-size: 25px;
    padding: 6px 10px;
    border-radius: 5px;
    border: 2px solid transparent;
}

hr {
    color: var(--cor-escura);
    border: 1.5px solid var(--cor-escura);
    margin-top: 20px;
}

.menu__item {
    text-decoration: none;
}

.menu__item :hover {
    /* border-radius: 5px;
    box-shadow: var(--sombra);
    border: 2px solid var(--cor-escura); */
    
}

.menu__item-texto :hover {
    background-color: transparent;
    border: none;
    color: var(--cor-clara);
    box-shadow: none;
}

.menu__item-texto {
    display: flex;
    align-items: center;
}

.menu-detalhado {
    display: none;
}

aside h3 {
    color: var(--cor-escura);
    font-size: 1.5em;
}

.ativo {
    border-radius: 5px;
    box-shadow: var(--sombra);
    /* border: 0.5px solid var(--cor-sombra-escura); */
    color: var(--cor-clara);
}

@media screen and (max-width: 1056px) {
    aside {
        display: none;
    }
} 
