nav {
    display: block;
    position: fixed;
    left: -200px;
    top: 0;
    bottom: 0;
    background-color: var(--cor-rosa-levetransparencia);
    border: 1px solid var(--cor-escura);
    overflow-y: auto;
    width: 250px;
    height: 100vh;
    transition: all ease-in-out 0.5s;
    padding: 0 10px;
    z-index: 9997;
}

nav h1 {
    font-size: 1.8em;
    text-align: right;
    transform: rotate(270deg) translateY(0px) translateX(-150px);
    margin: 0;
    padding: 0;
    width: 30vh;
}

nav h3 {
    color: var(--cor-escura);
    font-size: 1.5em;
}

nav:hover{
    left: 0px;
}

nav:hover h1{
    transform: rotate(0);
    margin: 20px 0;
    text-align: left;
}

nav .perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35vh;
}

nav:hover .perfil {
    flex-direction: column;
}

nav .perfil img{
    margin: 5vh 0;
    display: block;
    width: 120px;
    height: 120px;
    border: 3px solid var(--cor-escura);
    border-radius: 5%;
    box-shadow: 2px 0px 5px var(--cor-sombra-escura);
}

.bi {
    font-size: 23px;
    padding: 4px 10px;
}

hr {
    color: var(--cor-escura);
    border: 1.5px solid var(--cor-escura);
    margin-top: 20px;
}

.navbar-item {
    text-decoration: none;
    color: var(--cor-escura);
    padding: 0;
}

.navbar-item:hover .navbar-item__container {
    border: none;
    color: var(--cor-clara);
    box-shadow: 0px 1px var(--cor-clara);
}


.navbar-item:hover .navbar-item__container h3 {
    color: var(--cor-clara);
}

.navbar-item__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* @media screen and (max-width: 1056px) {
    aside {
        display: none;
    }
}  */
