aside h1 {
    font-size: 1.8em;
    margin: 20px 0;
    text-align: left;
}

aside {
    display: block;
    position: relative;
    left: -200px;
    top: 0;
    bottom: 0;
    background-color: var(--cor-rosa);
    border: 1px solid var(--cor-escura);
    overflow-y: auto;
    width: 250px;
    transition: all ease-in-out 0.5s;
    padding: 0 10px;
    z-index: 9997;
}

aside:hover{
    left: 0px;
}

aside .perfil img{
    margin: 15px 0;
    display: block;
    width: 120px;
    border: 3px solid var(--cor-escura);
    border-radius: 5%;
    box-shadow: 2px 0px 5px var(--cor-sombra-escura);
}

.bi {
    font-size: 23px;
    padding: 4px 10px;
    border-radius: 5px;
}

.ai {
    font-size: 25px;
    padding: 6px 10px;
    border-radius: 5px;
    border: 2px solid transparent;
}

hr {
    color: var(--cor-escura);
    border: 1.5px solid var(--cor-escura);
    margin-top: 20px;
}


.menu__item {
    text-decoration: none;
    color: var(--cor-escura);
    padding: 0;
}

.menu__item :hover {
    /* border-radius: 5px;
    box-shadow: var(--sombra);
    border: 2px solid var(--cor-escura); */
    
}

.menu__item-texto :hover {
    background-color: transparent;
    border: none;
    color: var(--cor-clara);
    box-shadow: none;
}

.menu__item-texto {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

aside h3 {
    color: var(--cor-escura);
    font-size: 1.5em;
}

.ativo {
    border-radius: 5px;
    box-shadow: var(--sombra);
    /* border: 0.5px solid var(--cor-sombra-escura); */
    color: var(--cor-clara);
}

/* @media screen and (max-width: 1056px) {
    aside {
        display: none;
    }
}  */
