@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --fonte-principal: 'AR One Sans', sans-serif;
    --cor-clara: #f7f7ff;
    --cor-escura: #070600;
    --cor-rosa: #EA526F;
    --cor-verde: #23B5D3;
    --cor-roxa: #279AF1;
    --cor-sombra-clara: #f7f7ff10;
    --cor-sombra-escura: #07060020;
    --sombra: inset -5px -5px 10px 0px var(--cor-sombra-clara), inset 5px 5px 10px 0px var(--cor-sombra-escura);
    --cor-rosa-transparente: #EA526F90;
    --cor-verde-transparente: #23B5D350;
}

body {
    font-family: var(--fonte-principal);
    font-size: 12px;
    color: var(--cor-escura);
    width: 100%;
    height: 100%;
    background-color: var(--cor-clara);
    line-height: 2em;
}

main {
    margin-left: 280px;
    color: var(--cor-escura);
}

section {
    width: 100%;
    min-height: 100vh;
    padding: 5vh 5vw;
}

h2 {
    font-size: 2.5em;
    padding: 5vh 0 0 5vw;
    font-weight: 600;
}

.texto-imagem {
    display: flex;
}

.texto-imagem li {
    font-size: 1.5em;
    line-height: 2em;
}

.coluna {
    width: 45%;
}

.coluna-direita {
    padding-left: 30px;
}

.justificado {
    justify-content: space-between;
}

h3 {
    margin: 30px 0 15px 0;
}
